body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  height: 130px;
  width: 100%;
  background: rgb(255, 255, 255);
}

#btn-menu{
  display: none;

}
header label{
  display: block;
  width: 30px;
  height: 30px;
  padding: 10px;
 
}

header label:hover{
  cursor: pointer;
  background: rgb(102, 84, 84);

}
.menu ul{
  margin: 0%;
  list-style: none;
  padding: 0%;
  display: flex;
  justify-content: right;
}
.menu li:hover{
  background: rgb(93, 230, 93);
}

.menu li a{
display: block;
padding: 15px 20px;
color: rgb(0, 0, 0);
text-decoration: none;
}


  
  
  #main{
  
     
     display: grid;
  
     color: black;
     text-align-last: left;
     justify-content: left;
  
    
     
  }
  .info{
    height: 50px;
    width: 150px;
    text-align: center;
    
  }
  
  
  
  button{
    padding: 20px;
      height: 130px;
      width: 210px;
      
      font-size: 15px;
      border-radius: 15px;
      
      text-align: center;
     flex-direction: row;
      flex-wrap: wrap;
      margin: 20px;
      padding: 10px;
      transform: translate(50%);
      
       
     
  }
  
  
  .circulo {
    
    
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #606960;
    
  
  }
  
  
  .carousel-item {
      margin-top: 0px;
      height: 100vh;
      min-height: 300px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    
    .card-columns .card {
      display: inline-block;
      width: 100%;
    }
    
    .card-img-top {
      width: 100%;
      height: 200px 
      
     
    }
    .carousel-caption{
      text-align: left;

    } 
  
    footer{
      height: 200px;
      width: 100%;
      background-color: yellowgreen;
      text-align: center;
    
    
      
  }
  
  #grid-conteiner{
  
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 30% 30%;
    grid-gap: 40px;
    grid-template-areas: foto1 foto2 foto3
                         titulo1 titulo2 titulo3
                         parrafo1 parrafo2 parrafo3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: black;
    
    
    
  }
  
  div .uno{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: black;
    
  }
  
  .dos{
    width: 30%;
    height: 300px;
  }
  .tres{
    width: 30%;
    height: 300px;
  }
  
  h2{
    margin-top: 20px;
    font-size: 20px;
  }
  p{
    margin-top: 30px;
    
   
  }
  .leer{
    height: 50px;
    width: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: yellowgreen
    
    
  }
  .digital {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-radius: 50%;
  
    background: yellowgreen;
    align-content: center;
    transform: translate(700px);    
    
   
  }
  
  .infomunicipal{
    width: 500px;
    height: 70px;
    text-align: center;
    
  }
  
  .consulta{
    width: 100px;
    height: 40px;
    text-align: center;
    
  }
  
  @media (max-width: 768px){

    header label {
       display: block;
       text-decoration: none;
    }
  
    .menu{
        position: absolute;
        background: rgb(150, 238, 155);
        width: 70%;
        margin-left: 0;
        transition: all 0.5s;
    }
  
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid white;
    }
  
    #btn-menu:checked  .menu{
        margin: 0;
    }
  
    button{
      padding: 20px;
        height: 130px;
        width: 210px;
        
        font-size: 15px;
        border-radius: 15px;
        
        text-align: center;
       flex-direction: column;
        flex-wrap: wrap;
        margin: 20px;
        padding: 10px;
        transform: translate(50%);
        
         
       
    }

    .circulo {
    
      
      width: 50px;
      height: 50px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #606960;
      
    
    }
    #grid-conteiner{
  
      padding: 30px;
      display: block;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 30% 30% 30%;
      grid-gap: 40px;
      grid-template-areas: foto1 foto2 foto3
                           titulo1 titulo2 titulo3
                           parrafo1 parrafo2 parrafo3;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 15px;
      font-weight: 200;
      color: black;
      
      
      
    }
  }